<?php


return [

    'default' => 'cn01',

    'connections' => [

        'cn01' => [
            'db_host' => 'mysql',
            'db_port' => '3306',
            'db_username' => 'cn01_db',
            'db_password' => 'lx#r858zat4bYRX',
            'db_name' => 'cn01_db',
            'table_prefix' => 'z_',
            'charset' => 'utf8',
        ],
    ]


];