<?php


return [

    'default' => 'cn01',

    'connections' => [

        'cn01' => [
            'db_host' => '127.0.0.1',
            'db_port' => '3306',
            'db_username' => 'root',
            'db_password' => '123456',
            'db_name' => 'cn01_db',
            'table_prefix' => 'z_',
            'charset' => 'utf8',
        ],
    ]


];