<?

return [
    'default' => [
        'host' => 'es-cn-zz11padcy0003i78s.public.elasticsearch.aliyuncs.com',
        'port' => '9200',
        'scheme' => 'http',
        'user' => 'elastic',
        'pass' => 'iu6Gf$*l^pB*ghCB',
    ],
];


?>