<?php

return [
    'default' => [
        'host' => 'elasticsearch',
        'port' => '9200',
        'scheme' => 'http',
        'user' => 'elastic',
        'pass' => 'iu6Gf$*l^pB*ghCB',
    ],
];


?>